<% title = "Create user" %>

    <div class="container">
        <h2 class="mt-4">Nieuwe Gebruiker Toevoegen aan Installatie <%= installationId %></h2>
        <form action="/installations/<%= installationId %>/users" method="POST">
            <div class="form-group">
                <label for="username">Gebruikersnaam:</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Wachtwoord:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="type">Type:</label>
                <select class="form-control" id="type" name="type" required>
                    <option value="admin">Admin</option>
                    <option value="user">User</option>
                </select>
            </div>
            <div class="form-group">
                <label for="preferred">Voorkeursgebruiker:</label>
                <input type="checkbox" id="preferred" name="preferred" value="0">
            </div>
            
            <div class="form-group">
                <label for="longlivingtoken">Long-Living Token:</label>
                <input type="text" class="form-control" id="longlivingtoken" name="longlivingtoken" required>
            </div>
            <button type="submit" class="btn btn-primary">Toevoegen</button>
        </form>
        <a href="/installations/<%= installationId %>/users" class="btn btn-secondary mt-3">Terug naar Gebruikerslijst</a>
    </div>